.hesth {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hesth h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.875rem;
    color: #f9f9f9;
}

.memberlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
}

.member {
    text-align: center;
}

.member img {
    width: 100%;
    height: auto;
    max-height: 2750px;
    object-fit: contain;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.member h2 {
    margin: 12px 30px 6px;
    font-size: 1.75rem;
    color: #f9f9f9;
}

.member p {
    margin: 0;
    font-size: 1rem;
    color: #f9f9f9;
}

@media (max-width: 600px) {
    .hesth h1 {
        font-size: 2.875rem;
    }

    .member h2 {
        font-size: 1.75rem;
    }

    .member p {
        font-size: 1rem;
    }
}

.band {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
}

.band h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.875rem;
    color: #f9f9f9;
}

.band img {
    width: 100%;
    height: auto;
    max-height: 2750px;
    object-fit: contain;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .band h1 {
        font-size: 2.875rem;
    }
}