.hesth {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hesth h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.875rem;
    color: #f9f9f9;
}

.memberlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
}

.member {
    text-align: center;
}

.member img {
    width: 100%;
    height: auto;
    max-height: 2750px;
    object-fit: contain;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.member h2 {
    margin: 12px 0 6px;
    font-size: 1.75rem;
    color: #f9f9f9;
}

.member p {
    margin: 0;
    font-size: 1rem;
    color: #f9f9f9;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 8px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    object-fit: cover;
}




.carousel img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 20px;
    z-index: 20;
    background: #f9f9f9;
    color: #57585c;

}

.btn.prev {
    left: 10px;
}

.btn.next {
    right: 10px;
}