/* header.css */

header {
    background-color: #142c42;
    border-radius: 1rem;
    padding: 2rem;
    min-height: 10vh;
}

button {
    background-color: #791f2b;
    border: none;
    padding: 0.75rem;
    border-radius: 1rem;
    font-weight: bold;
}

button a {
    color: #f9f9f9;
    font-weight: bold;
    padding: 0.75rem;
    text-decoration: none;
}