header {
    background-color: #142c42;
    border-radius: 1rem;
    padding: 2rem;
    min-height: 5rem;
}

button {
    background-color: #791f2b;
    color: #f9f9f9;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 2px solid #0b1015;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}