.subtext {
    font-size: 0.8rem;
    text-align: center;
    margin-top: -2rem;
}

.title {
    text-align: center;
}

.QnA {
    border: 5px solid #0b1015;
    border-radius: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background: #57585c;
}

/*
body {
    background-image: url('../pics/theband.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/