.subtext {
    font-size: 0.8rem;
    text-align: center;
    margin-top: -2rem;
}

.title {
    text-align: center;
}

.question {
    margin-top: 5rem;
}

.page {
    background-image: url("./pics/theband.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}