.subtext {
    font-size: 0.8rem;
    text-align: center;
    margin-top: -2rem;
}

.title {
    text-align: center;
}

.QnA {
    border: 5px solid #0b1015;
    border-radius: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background: #57585c;
}