.subtext {
    font-size: 0.9rem;
    text-align: center;
    margin-top: -2rem;
}

.QnA {
    border: 5px solid oklch(0.1702 0.0132 248.61);
    border-radius: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background: oklch(0.4609 0.0066 274.86);
}

body {
    background-image: 
        linear-gradient(oklch(0 0 0 / 40%), oklch(0 0 0 / 40%)),
        url('../pics/Inne1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
