.subtext {
    font-size: 0.8rem;
    text-align: center;
    margin-top: -2rem;
}

.QnA {
    border: 5px solid #0b1015;
    border-radius: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background: #57585c;
}

body {
    background-image: url('../pics/Inne2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media (max-width: 768px) {
        body {
            background-position: center 20%;
            background-size: cover;
        }
    }
}

.dim {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}