ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

li {
    margin: 0 1rem;
}

.memberlist h1 {
    text-align: center;
}

.memberlist h2 {
    font-weight: bold;
}

.memberlist p {
    font-size: 0.75rem;
    text-align: center;
}

img {
    margin-bottom: 2rem;
    align-self: center;
}