* {
    box-sizing: border-box;
}

html {
    margin: 1rem;
    padding: 0;
}

body {
    background-color: oklch(0.4162 0.0487 251.18);
    flex-direction: column;
    line-height: 1.5;
    /* width: min(65ch, 100% - 4rem); */
}

main {
    flex: 1;
}

p,
h1,
h2 {
    color: oklch(0.9821 0 0);
}

h1 {
    font-size: 2.875rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
}

button:hover {
    filter: brightness(80%);
}