* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #384e66;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

p,
h1,
h2 {
    color: #f9f9f9;
}

h1 {
    font-size: 2.875rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
}

button:hover {
    filter: brightness(80%);
}