.page {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #384e66;
}

p, h1, h2{
    color: #f9f9f9;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 28px;
    text-align: center;
}

a {
  color: #f9f9f9;
  background-color: #791f2b;
  font-weight: bold;
  padding: 1vh;
  border-radius: 1vh;
  text-decoration: none;
}