.page {
    width: 100%;
    height: 100%;
}

body {
    background-color: #384e66;
}

.hesth {
    background-color: #142c42;
    padding: 1vh;
    border-radius: 20px;
}

.foten {
    background-color: #142c42;
    padding: 1vh;
    border-radius: 20px;
}

p {
    color: #ffffff;
}

button {
    border-radius: 10px;
}