.hesth {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.hesth h1 {
    margin-bottom: 30px;
}

.satila h1 {
    margin-top: 100px;
}

.memberlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
}

.member {
    text-align: center;
}

.member img {
    width: 100%;
    height: auto;
    max-height: 2750px;
    object-fit: contain;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.member h2 {
    margin: 12px 0 6px;
    white-space: nowrap;
}

.member p {
    margin: 0;
    margin-bottom: 3px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 8px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    object-fit: cover;
}

.carousel img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 20;
    background: oklch(0.9821 0 0);
    color: oklch(0.4609 0.0066 274.86);
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem;
}

.btn:hover {
    filter: brightness(80%);
}

.btn:active {
    filter: brightness(50%);
}

.btn.prev {
    left: 10px;
}

.btn.next {
    right: 10px;
}