.event {
    border: 5px solid oklch(0.1702 0.0132 248.61);
    border-radius: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background: oklch(0.7657 0.0471 254.55);
}

.event h2 {
    color: oklch(0.1702 0.0132 248.61);
}

.no_events {
    text-align: center;
}