footer {
    background-color: oklch(0.2854 0.0506 248.11);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 3rem;
}

.social-icons .fa {
    font-size: 24px;
    margin: 0 6px;
    color: oklch(0.2854 0.0506 248.11);
}