footer {
    background-color: oklch(0.1702 0.0132 248.61);
    border-radius: 1rem;
    padding: 2rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social-icons {
    font-size: 1.3rem;
}

.social-icons a {
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;
}

.social-icons a:link,
.social-icons a:visited {
    color: oklch(0.7657 0.0471 254.55);
}

.social-icons a:hover {
    background-color: oklch(0.3891 0.1234 17.72);
}

.social-icons a:active {
    filter: brightness(50%);
}