footer {
    background-color: oklch(0.1702 0.0132 248.61);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.social-icons a {
    text-decoration: none;
    padding: 0.75rem;
    border-radius: 1rem;
    font-size: 1.3rem;
}

.credit {
    padding-left: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
}

.social-icons a {
    color: oklch(0.7657 0.0471 254.55);
}

.social-icons a:hover {
    background-color: oklch(0.3003 0.0061 258.35);
}

.social-icons a:active {
    filter: brightness(50%);
}

/* Phone CSS */

@media (max-width: 480px) {
    footer {
        padding: 0.3rem 0;
        margin-top: 1rem;
    }

    .social-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.3rem;
        width: 100%;
    }

    .social-icons a {
        font-size: 0.8rem;
        padding: 0.3rem;
        text-align: center;
        width: 100%;
    }
}