header {
    background-color: oklch(0.1702 0.0132 248.61);
    border-radius: 1rem;
    padding: 2rem;
    min-height: 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header button {
    background-color: oklch(0.3891 0.1234 17.72);
    color: oklch(0.7657 0.0471 254.55);
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 2px solid oklch(0.1702 0.0132 248.61);
    flex-shrink: 0;
}

header button:hover {
    filter: brightness(80%);
}

header button:active {
    filter: brightness(50%);
}

.vpl-logo {
    height: 8rem;
    vertical-align: top;
    margin-right: 1rem;
}