.subtext {
    font-size: 1rem;
    text-align: center;
    margin-top: -2em;
}

body {
    background-image:
        linear-gradient(oklch(0 0 0 / 40%), oklch(0 0 0 / 40%)),
        url('../../images/pics/Inne1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}