/* Always picture, dont remove */
body {
    background-image:
        linear-gradient(oklch(0 0 0 / 60%), oklch(0 0 0 / 60%)),
        url('../../images/band/pics/Ute1-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.basic_info {
    text-align: center;
    margin-top: -1.5rem;
}

.main_event {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-align: center;
    display: block;
    font-size: clamp(1.3rem, 4vw, 1.75rem);
    font-weight: bold;
    margin-top: -1.5rem;
    color: oklch(0.7455 0.081 252.87);
}

.main_event:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    transform: translateY(-2px);
}