header {
    border-radius: 1rem;
    min-height: 5rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#homeBtn {
    padding: 0.75rem;
    border-radius: 1rem;
    border: none;
    flex-shrink: 0;
    background-color: oklch(0.152 0.0203 253.73 / 0%);
}

header button:hover {
    filter: brightness(80%);
}

header button:active {
    filter: brightness(50%);
}

.vpl_logo {
    height: 13rem;
    margin: 1rem;
    vertical-align: top;
    max-width: 80vw;
}

.dropdown {
    position: relative;
}

.dropBtn {
    background-color: oklch(0.519 0.2074 24.42);
    color: oklch(0.9824 0.0049 236.62);
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    flex-shrink: 0;
    align-items: center;
}

.dropBtn:hover {
    transform: translateY(-0.25rem);
}

.dropBtn::after {
    content: "▾";
    font-size: 1rem;
}

.dropdown_content {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0;
    background-color: oklch(0.152 0.0203 253.73);
    border-radius: 0.5rem;
    min-width: 10rem;
    box-shadow: 0 1rem 1rem oklch(0 0 0 / 90%);
    padding: 0.35rem 0;
    display: none;
    z-index: 10;
}

.dropdown_content a {
    display: block;
    padding: 0.5rem 1rem;
    color: oklch(0.9824 0.0049 236.62);
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropBtn, 
.dropdown_content a:hover {
    background-color: oklch(0.7455 0.081 252.87);
    color: oklch(0.152 0.0203 253.73);
}

/* Phone CSS */

@media (max-width: 630px) {
    header {
        flex-direction: column;
        align-items: stretch;
    }

    header button,
    .dropBtn,
    .dropdown {
        width: 100%;
    }

    .dropdown_content {
        position: static;
        width: 100%;
    }
}