.memberlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
    margin-bottom: 1rem;
}

.member {
    text-align: center;
}

.member img {
    width: 100%;
    height: auto;
    max-height: 2750px;
    object-fit: contain;
    border-radius: 20px;
    display: block;
    margin-top: 5px;
}

.member h2 {
    margin: 12px 0 6px;
    white-space: nowrap;
}

.member p {
    margin: 0;
    margin: 3px;
}

.member a:hover {
    color: oklch(0.7657 0.0471 254.55);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transform: translateY(-1px);
}

@media (max-width: 1148px) {
    .memberlist {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 884px) {
    .memberlist {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .memberlist {
        grid-template-columns: repeat(1, 1fr);
    }
}