.memberlist {
    display: grid;
    gap: 24px;
    margin-bottom: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "axel levi moa svea sam";
}

.member {
    text-align: center;
}

.member img {
    width: 100%;
    height: auto;
    max-height: 1350px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-top: 5px;
}

.member h2 {
    margin: 12px 0 6px;
    white-space: nowrap;
}

.member p {
    margin: 0;
    margin: 3px;
}

.member a:hover {
    color: oklch(0.7455 0.081 252.87);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transform: translateY(-1px);
}

.memberlist .member:nth-child(1) { grid-area: moa; }
.memberlist .member:nth-child(2) { grid-area: levi; }
.memberlist .member:nth-child(3) { grid-area: svea; }
.memberlist .member:nth-child(4) { grid-area: axel; }
.memberlist .member:nth-child(5) { grid-area: sam; }

@media (max-width: 1186px) {
    .memberlist {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "levi moa svea"
            "axel sam .";
    }
}

@media (max-width: 884px) {
    .memberlist {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "moa levi"
            "svea axel"
            "sam .";
    }
}

@media (max-width: 630px) {
    .memberlist {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "moa"
            "levi"
            "svea"
            "axel"
            "sam";
    }
}