* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 1.5rem;
    padding: 0;
    background-color: oklch(0.2854 0.0506 248.11);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* width: min(65ch, 100% - 4rem); */
}

.textbox {
    border: 5px solid oklch(0.1702 0.0132 248.61);
    border-radius: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background: oklch(0.4162 0.0487 251.18);
}

main {
    flex: 1;
}

h1,
h2,
p {
    color: oklch(0.9821 0 0);
}

h1 {
    font-size: 2.875rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
}

button:hover {
    cursor: pointer;
}