* {
    box-sizing: border-box;
}

body {
    margin: 1.5rem;
    padding: 0;
    background-color: oklch(0.4162 0.0487 251.18);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* width: min(65ch, 100% - 4rem); */
}

main {
    flex: 1;
}

h1,
h2 {
    color: oklch(0.9821 0 0);
}

h1 {
    font-size: 2.875rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    color: oklch(0.1702 0.0132 248.61);
}

button:hover {
    filter: brightness(80%);
    cursor: pointer;
}